
  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  // min-width: 100vw;
  // max-width: 100vw;
  // padding: 0 3rem;

  // position: absolute;
  // top: 20px;
  // z-index: 10;
  // @media (min-width: 992px) {
  //   display: none;
  // }
  .class-menu-container {
    // display: flex;
    display: none;

    @media (min-width: 771px) {
      display: none;
    }
  }
  .profile-class {
    background-color: #fff;
    border-radius: 1rem;
    color: #fff;
    font-weight: 600;
    padding: .6rem 1.6rem;
    margin-right: .8rem;
  }
