.farm {
  h1 {
    font-size: 24px;
    font-weight: 400;
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 16px 0 32px;
  }
}

.container-grid-staking {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 516px;
  gap: 16px;
  margin: 40px 0;
}

.total-voting {
  height: 93px;
  margin: 40px 0 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  fieldset {
    border: 2px solid #FFBF00;
    font-size: 18px;

    display: flex;
    justify-content: space-between;
    
    width: 100%;
    &:nth-child(1) {
      border-right: none;
      legend {
        margin-left: 32px;
        padding: 0 8px;
      }
      span {
        display: flex;
        align-items: center;
        margin-left: 40px;
      }
    }
    &:nth-child(2) {
      border-left: none;
      legend {
        margin-left:  auto;
        margin-right: 32px;
        padding: 0 8px;
      }
      span {
        display: flex;
        align-items: center;
        margin-left:  auto;
        margin-right: 40px;
      }
    }
  }
}
