.farm {
  h1 {
    font-size: 24px;
    font-weight: 400;
    @media (max-width: 420px) {
      padding: 0 10px;
    }
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 16px 0 32px;
    @media (max-width: 420px) {
      padding: 0 10px;
    }
  }
}

.container-grid-staking {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 516px;
  gap: 16px;
  margin: 40px 0 64px;
  @media (max-width: 1160px) {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    height: 100%;
  }
  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 420px) {
    gap: 32px;
  }
}

.others {
  height: 100%;
}

.border-gradient {
  position: relative;
  padding: 4px; 
  z-index: 1;
  height: 100%;
  max-width: 440px;
  min-width: 360px;
  @media (max-width: 800px) {
    margin: 0 auto;
    max-width: 400px;
  }
  @media (max-width: 420px) {
    max-width: 100%;
    min-width: 270px;
  }

  &::after {
    content:"";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 6px; 
    padding: 4px; 
    background: linear-gradient(0deg, #FFBF00 -0.02%, #E843C4 99.99%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude;
  }
}

.inter-background {
  background: linear-gradient(0deg, rgba(255, 191, 0, 0.2) -0.02%, rgba(232, 67, 196, 0.2) 99.99%);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  height: 152px;
  padding: 24px 32px;
  img {
    max-width: 96px;
    @media (max-width: 540px) {
      max-width: 84px;
    }
    @media (max-width: 420px) {
      max-width: 78px;
    }
  }
  @media (max-width: 420px) {
    padding: 20px;
  }
}

.intro-staking {
  font-size: 18px;
  text-align: right;
  @media (max-width: 540px) {
    font-size: 16px;
  }
  p {
    margin-bottom: 8px;
    line-height: 18px;
    &:nth-child(2) {
      margin-bottom: 16px;
    }
    &:nth-child(2n) {
      font-weight: 300;
    }
  }
}

.infos-staking {
  padding: 24px 32px;
  @media (max-width: 420px) {
    padding: 20px;
  }
}

.withdraw-delay-and-days {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 24px;
    @media (max-width: 540px) {
      font-size: 16px;
      line-height: 16px;
    }
  }
  span {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 8px;
    display: block;
    @media (max-width: 540px) {
      font-size: 13px;
      line-height: 13px;
    }
  }
  .days {
    text-align: right;
    font-weight: 300;
  }
  .total-staking {
    margin: 16px 0;
  }
}


.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 0 auto;
  width: 100%;
  
  button {
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
  }
  .btn-wallet {
    background: linear-gradient(87.48deg, #FFBF00 -70.27%, #E843C4 154.78%);
    border: none;
    border-radius: 6px;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 320px;
    height: 36px;
    outline: none;
    @media (max-width: 420px) {
      max-width: 100%;
      min-width: 200px;
    }
  }
  
  .btn-details {
    background-color: transparent;
    border: none;
    color:turquoise;
    margin-top: 16px;
  }

  .img-info {
    position: absolute;
    top: 374px;
    left: 80px;
    z-index: 10;
    cursor: pointer;
    @media (max-width: 540px) {
      top: 365px;
      left: 75px;
    }
    @media (max-width: 420px) {
      top: 360px;
      left: 65px;
    }
  }
}

.staking-pools {
  .border-gradient {
    &::after {
      content:"";
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      border-radius: 6px; 
      padding: 4px; 
      background: linear-gradient(0deg, #26DBDB -0.02%, #E843C4 99.99%);
      -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out; 
      mask-composite: exclude;
    }
  }
  
  .inter-background {
    background: linear-gradient(0deg, rgba(38, 219, 219, 0.2) -0.02%, rgba(232, 67, 196, 0.2) 99.99%);
  }   
  
  .btn-wallet {
    background: linear-gradient(87.48deg, #E843C4 -47.54%, #26DBDB 154.78%);
  }

  .img-info {
    top: 312px;
    left: 80px;
    @media (max-width: 540px) {
      top: 304px;
      left: 75px;
    }
    @media (max-width: 420px) {
      top: 300px;
      left: 65px;
    }
  }
  
}

.total-voting {
  height: 93px;
  margin: 80px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  fieldset {
    border: 2px solid #FFBF00;
    font-size: 18px;

    display: flex;
    justify-content: space-between;
    
    width: 100%;
    @media (max-width: 420px) {
      font-size: 16px;
    }
    &:nth-child(1) {
      border-right: none;
      legend {
        margin-left: 32px;
        padding: 0 8px;
      }
      span {
        display: flex;
        align-items: center;
        margin-left: 40px;
      }
    }
    &:nth-child(2) {
      border-left: none;
      legend {
        margin-left:  auto;
        margin-right: 32px;
        padding: 0 8px;
      }
      span {
        display: flex;
        align-items: center;
        margin-left:  auto;
        margin-right: 40px;
      }
    }
  }
}
