.input-eth {
  display: grid;
  grid-template-columns: 190px 60px 190px;
  justify-content: space-around;
  align-items: flex-start;
  
  width: 100%;
  height: 88px;
  @media (max-width: 504px) {
    grid-template-columns: 160px 60px 160px;
  }
  @media (max-width: 430px) {
    grid-template-columns: 130px 40px 130px;
  }
  span {
    font-size: 14px;
    height: 17px;
    @media (max-width: 380px) {
      font-size: 13px;
    }
    @media (max-width: 350px) {
      font-size: 10.7px;
    }
  }
}

.pay-with {
  width: 190px;
  height: 100%;

  position: relative;
  p {
    font-size: 24px;
    margin: 8px 0;
    padding-left: 12px;
  }
  span {
    padding-left: 12px;
  }
}

.arrow-long {
  margin: 47px auto 0 auto;
}

.amount {
  text-align: right;
  position: relative;
  width: 190px;
  height: 100%;
  padding-right: 12px;
  
  @media (max-width: 504px) {
    width: 160px;
  }
  @media (max-width: 430px) {
    width: 130px;
  }

  input {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;

    text-align: right;
    max-width: 100%;
    margin: 8px 0;

    outline: none;

    @media (max-width: 380px) {
      font-size: 22px;
    }
    @media (max-width: 350px) {
      font-size: 20px;
    }

    &::placeholder {
      color: #fff;
    }

    &[type=number]::-webkit-inner-spin-button { 
      -webkit-appearance: none;
    }
    &[type=number] { 
      -moz-appearance: textfield;
      appearance: textfield;
    }
  }
}

.line {
  content: '';
  display: block;
  width: 190px;
  height: 2px;
  background-color: #26DBDB;
  box-shadow: 1px 1px 5px #26DBDB;
  bottom: 0;
  position: absolute;
  @media (max-width: 504px) {
    width: 160px;
  }
  @media (max-width: 430px) {
    width: 130px;
  }
}