.backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.01);

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.products-container {
  position: absolute;
  margin-top: 20px;
  margin-left: -18px;
  a {
    background-color: #0C3DDC;
    border-radius: 4px;
    height: 40px;
    padding: 8px 20px 8px 8px;
  }
}

.btn-products {
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  margin: 0 16px;

  img {
    margin-left: 16px;
  }
}

#link-selected {
  &::before {
    content: '';
    display: block;
    position: absolute;
    margin-top: 24px;
    margin-left: -8px;
    width: 108px;
    height: 2px;
    background-color: #26DBDB;
    border-radius: 1px;
    box-shadow: 1px 1px 4px #26DBDB;
  }
}

.anime-top {
  opacity: 0;
  transform: translateY(-20px);
  animation: animeTop 0.4s forwards;
}

@keyframes animeTop {
  to {
    opacity: 1;
    transform: initial;
  }
}