.landing-page {
  background: linear-gradient(90deg, #200A1B 0%, #000000 50%);
}

.container {
  max-width: 1216px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    max-width: 100%;
    padding: 0 32px;
  }
}

.hero {
  color: #fff;
  height: 600px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 960px) {
    height: 440px;
  }
  @media (max-width: 770px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  h1 {
    font-size: 104px;
    font-weight: 400;
    line-height: 94px;
    @media (max-width: 1200px) {
      font-size: 80px;
      line-height: 70px;
    }
    @media (max-width: 960px) {
      font-size: 70px;
      line-height: 60px;
    }
    @media (max-width: 770px) {
      font-size: 60px;
      margin-bottom: 32px;
    }
  }
  h3 {
    font-size: 31px;
    font-weight: 300;
    margin: 32px 0;
    max-width: 510px;
    @media (max-width: 1200px) {
      font-size: 27px;
    }
    @media (max-width: 960px) {
      font-size: 22px;
    }
  }
  .h3-desktop {
    @media (max-width: 770px) {
      display: none;
    }
  }
  .h3-mobile {
    text-align: center;
    margin: 0 auto;
    @media (min-width: 771px) {
      display: none;
    }
  }
  img {
    @media (max-width: 960px) {
      max-width: 100%;
      min-width: 230px;
    }
    @media (max-width: 770px) {
      max-width: 400px;
    }
  }
  button {
    background: linear-gradient(264.12deg, #020887 -197.65%, #26DBDB 272.42%);
    border: none;
    border-radius: 6px;
    color: #fff;

    height: 48px;
    padding: 8px 32px;
    cursor: pointer;
  }
}
