.footer {
  background-color: #2F2333;
  color: #fcfcfc;
  padding: 40px 0;
  position: relative;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0 32px;
  @media (min-width: 1600px) {
    max-width: 1580px;
  }
  @media (min-width: 1440px) {
    padding: 0 80px;
  }
  @media (max-width: 710px) {
    flex-direction: column-reverse;
    align-items: center;
  }
  @media (max-width: 540px) {
  }
  & > img {
    display: none;
    margin-bottom: 32px;
    @media (max-width: 710px) {
      display: block;
    }
  }
  .grid-left {
    @media (max-width: 710px) {
      margin-top: 30px;
      width: 100%;
      text-align: center;
      & > img {
        display: none;
      }
    }
    span{
      font-size: 1.6rem;
      font-weight: 300;
    }
    ul {
      display: flex;
      margin: 24px 0;
      li {
        flex: 1 0 38px;
      }
    }
  }
  .grid-right {
    @media (max-width: 710px) {
      width: 100%;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    li {
      @media (max-width: 710px) {
        text-align: center;
      }
      margin: 8px 0;
    }
    h4 {
      margin-bottom: 8px;
      font-size: 1.8rem;
      font-weight: 500;
    }
    a {
      color: #fcfcfc;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      padding: 4px 0;
    }
  }
}

.container-mobile {
  display: none;

  @media (max-width: 660px) {
    display: block;
    height: 100%;
    padding: 0 16px;
  }
  .grid-left {

    img {
      display: block;
      margin: 0 auto;
    }
    .social-media {
      display: flex;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 24px 0;
        li {
          font-size: 14px;
          margin: 4px 0;
          a {
            color: #fcfcfc;
            font-size: 12px;
            font-weight: 300;
            text-decoration: none;
            padding: 4px 0;
          }
        }
      }
    }
  }
  .grid-right {
    ul {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
    li {
      margin: 8px 0;
    }
    h4 {
      margin-bottom: 8px;
    }
    span {
      display: block;
      text-align: center;
      margin-top: 16px;
    }
  }
}
